<nav class='flex items-center justify-between flex-wrap bg-gray-900 p-6'>
  <div class='flex items-center flex-shrink-0 text-white mr-6'>
    <!-- Logo -->
    <span class='font-semibold text-xl tracking-tight'>Campin</span>
  </div>
  <div class='block md:hidden'>
    <button
      class='flex items-center px-3 py-2 border rounded text-gray-200 border-gray-400 hover:text-white hover:border-white'
    >
      <svg
        class='fill-current h-3 w-3'
        viewBox='0 0 20 20'
        xmlns='http://www.w3.org/2000/svg'
      ><title>Menu</title><path
          d='M0 3a1 1 0 011-1h18a1 1 0 110 2H1a1 1 0 01-1-1zM0 9a1 1 0 011-1h18a1 1 0 110 2H1a1 1 0 01-1-1zM1 15a1 1 0 100 2h18a1 1 0 100-2H1z'
        /></svg>
    </button>
  </div>
  <div class='w-full block flex-grow md:flex md:items-center md:w-auto'>
    <div class='text-sm md:flex-grow'>
      <a
        href='#'
        class='block mt-4 md:inline-block md:mt-0 text-gray-200 hover:text-white mr-4'
      >
        캠핑장 검색
      </a>
      <a
        href='#'
        class='block mt-4 md:inline-block md:mt-0 text-gray-200 hover:text-white mr-4'
      >
        예약 정보
      </a>
      <a
        href='#'
        class='block mt-4 md:inline-block md:mt-0 text-gray-200 hover:text-white'
      >
        고객센터
      </a>
    </div>
  </div>
</nav>